body {
  margin: 0;
  font-family: "Roboto", "Oxygen";
 
  background:linear-gradient(to left, rgb(132, 5, 178), rgb(237, 6, 104));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
